@font-face
  font-family 'ITCAvantGardePro-Demi'
  src url('../fonts/ITCAvantGardePro-Demi.woff') format('woff')
  font-weight $regular
  font-style normal

@font-face
  font-family 'ITCAvantGardePro-Md'
  src url('../fonts/ITCAvantGardePro-Md.woff') format('woff')
  font-weight $regular
  font-style normal

.iagp-demi
  font-family 'ITCAvantGardePro-Demi'
  font-weight $regular
  -webkit-font-smoothing antialiased

.iagp-md
  font-family 'ITCAvantGardePro-Md'
  font-weight $regular
  -webkit-font-smoothing antialiased
